* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background: #1C1C1C;
  min-height: 100vh;
  color: #FFFFFFFF;
  font-family: Inter;
  padding: 53px;
}

.card{
  background: #23252C;
}

.image {
  /* width: 317px;
  height: 317px; */
  /* display: block; */
  /* padding: 44px 117px 507px 116px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 80%;
  height: 50%; */
  border-radius: 10px 10px 0px 0px;
  padding-left: 116px;
  padding-right: 117px;
  padding-bottom: 507px;
  padding-top: 44px
}

h2 {
  margin: 0;
}
